#table_outer{
	border: 1px solid black;
	height: 600px;
	width: 600px;
	position: fixed;
	margin-top: 25px;
}

tr,input{
	border:1px solid black; 
	position: relative;
	height: 66px;
	width: 66px;
	text-align: center;
	background-color: transparent;
	font-style: bold;
	color: white;
	font-size: 25px;
}
td{
	border:1px solid black; 
	position: relative;
	height: 66px;
	width: 66px;
	text-align: center;
	background-color: transparent;
}

#table_inner{
	border: 1px solid black;
	height: 200px;
	width: 200px;
	position: relative;
}
#table_inner1{
	border: 1px solid black;
	height: 200px;
	width: 200px;
	position: relative;
}

#back{
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
/*input:read-only{
	background-color: #EF7215;
}
input{
	background-color:#D0F0C0;
}*/