#table_outer{
	border: 1px solid black;
	height: 450px;
	width: 450px;
	position: fixed;
	margin-top: 8vh;
	margin-left: -40px;
}

tr,input{
	border:1px solid black; 
	position: relative;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: transparent;
	font-style: bold;
	color: white;
	font-size: 25px;
}
td{
	border:1px solid black; 
	position: relative;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: transparent;
}

#table_inner{
	border: 1px solid black;
	height: 150px;
	width: 150px;
	position: relative;
}
#table_inner1{
	border: 1px solid black;
	height: 150px;
	width: 150px;
	position: relative;
}

#back{
	background-image: url('bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}
/*input:read-only{
	background-color: #EF7215;
}
input{
	background-color:#D0F0C0;
}*/
button{
	margin-top: 300px;
	margin-left: 40px;
}

h1{
	text-align: center;
	font-size: 80px;
}